[submodule "SlippyMap"]
	path = SlippyMap
	url = git@github.com:archnemesis/SlippyMap.git
[submodule "externals/Qt-Color-Widgets"]
	path = externals/Qt-Color-Widgets
	url = https://gitlab.com/mattbas/Qt-Color-Widgets.git
[submodule "externals/nmea"]
	path = externals/nmea
	url = git@github.com:pcdangio/nmea.git